<form id="container" *ngIf="car" class="container mainContainer" [formGroup]="CarForm" (submit)="updatesCarInfo()">
    
        <!--<i class="fa fa-car" style="font-family:'FontAwesome';"></i>-->
        
    
        <h4>Car Information:</h4>

        <mat-form-field class="w-100 pl-5 pr-5 pt-2 pb-2">
            <mat-label>Make</mat-label>
            <input matInput formControlName="make" [(ngModel)]="car.make"   type="text" class="form-control" id="address" required >
          </mat-form-field>
        
          <mat-form-field class="w-100 pl-5 pr-5 pt-2 pb-2">
            <mat-label>Make</mat-label>
            <input matInput formControlName="model" [(ngModel)]="car.model"   type="text" class="form-control" id="address" required >
          </mat-form-field>


          <mat-form-field class="w-100 pl-5 pr-5 pt-2 pb-2">
            <mat-label>Choose the number of seats</mat-label>
            <mat-select formControlName="seats"  id="Nrseats" [(ngModel)]="seats" required>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
        

      
        <button type="submit" mat-raised-button color="primary" >Save</button>
</form>
    
        
    