
<form class="container mainContainer" [formGroup]="profilForm" (submit)="updatesContactInfo()">
    
    <i class="fa fa-user" style="font-family:'FontAwesome';"></i>
       
        <h4>Contact Information:</h4>
    
        <div class="form-group row">
            <div class="col-sm-1"></div>
                <label for="f_name" class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="f_name" formControlName="firstName" [(ngModel)]="firstName" required>
                </div>
        </div>
        
        <div class="form-group row">
                <div class="col-sm-1"></div>
            <label for="l_name" class="col-sm-4 col-form-label">Last Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="l_name" formControlName="lastName" [(ngModel)]="lastName" required>
            </div>
        </div>
    
        <div class="form-group row">
                <div class="col-sm-1"></div>
            <label for="user_email" class="col-sm-4 col-form-label">Email:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" [(ngModel)]="email" formControlName="email"  required>
            </div>
        </div>
    
        <div class="form-group row">
                <div class="col-sm-1"></div>
            <label for="phone" class="col-sm-4 col-form-label">Phone:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="phone" formControlName="phone" [(ngModel)]="phone" required>
                <p *ngIf="success != ''" class="success">{{success}}</p>
                <p *ngIf="failure != ''" class="failure">{{failure}}</p>

            </div>
        </div>
        
        <button type="submit" class="btn btn-primary myBtn" >Save</button>
    </form>
  
        
    