
<form id="container" class="container mainContainer" [formGroup]="profilForm" (submit)="updatesContactInfo()">
    
   <!-- <i class="fa fa-user" style="font-family:'FontAwesome';"></i>  -->
       
        <h4>Contact Information:</h4>

        <mat-form-field class="w-100 pl-5 pr-5 pt-1 pb-1">
            <mat-label>First name</mat-label>
            <input matInput type="text" class="form-control" id="f_name" formControlName="firstName" [(ngModel)]="user.firstName" required >
          </mat-form-field>
          <mat-form-field class="w-100 pl-5 pr-5 pt-1 pb-1">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" class="form-control" id="l_name" formControlName="lastName" [(ngModel)]="user.lastName" required >
          </mat-form-field>
          <mat-form-field class="w-100 pl-5 pr-5 pt-1 pb-1">
            <mat-label>Email</mat-label>
            <input matInput type="text" class="form-control" id="email" formControlName="email" [(ngModel)]="user.email" required >
            <mat-error>Email should be valid</mat-error>  
        </mat-form-field>
          <mat-form-field class="w-100 pl-5 pr-5 pt-1 pb-1">
            <mat-label>Phone number</mat-label>
            <input matInput type="text" class="form-control" id="phone" formControlName="phone" [(ngModel)]="user.phoneNumber" required >
            <mat-error>Phone number should be valid</mat-error>  
  
        </mat-form-field>

        
        <button type="submit" mat-raised-button color="primary" >Save</button>
    </form>
  
        
    