@import "../../../custom-theme.scss";



.mainContainer {
 
    border:1px outset rgb(206, 206, 206);
    background-color:rgb(252, 252, 252);
    border-radius: 10px;
}
.fa-user{
    z-index: 2;
    border:1.5px solid black;
    padding:14px;
    font-size:25px;
    margin-left:85%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display:inline;
}

.row{
    text-align:center;
}
label{
    font-size:12px;
}

h4{
    text-align:left;
    font-weight:bold;
}





/*****REAL CODE !!****/
#container{
    padding: 40px;
    width: 75%;
    display: block;
    margin: 20px auto;
}
#container button{
    display: block;
    margin: auto;
    border: solid 1px $primary;
}

#container button:hover{
    background-color: white;
    color: $primary;
    border: solid 1px $primary;
}