<form id="container" *ngIf="user" class="container mainContainer"  [formGroup]="membershipForm" (submit)="updatesMembershipInfo()">
        <!--<i class="fa fa-users" style="font-family:'FontAwesome';"></i>-->
            <h4 class="title">Membership:</h4>
            
            <mat-form-field class="w-100 pl-5 pr-5 pt-0 pb-0">
                <mat-label>Batch</mat-label>
                <mat-select formControlName="batch" [(ngModel)]="user.batch.batchNumber" required>
                    <mat-option *ngFor="let batch of batches" [value]="batch.batchNumber">{{batch.batchLocation}}</mat-option>
                </mat-select>
              </mat-form-field>

                <mat-form-field class="w-100 pl-5 pr-5 pt-0 pb-0">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="driver" [(ngModel)]="user.driver" required>
                        <mat-option [value]="true">Driver</mat-option>
                        <mat-option [value]="false">Rider</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="w-100 pl-5 pr-5 pt-0 pb-0">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="active" [(ngModel)]="user.active" required>
                        <mat-option [value]="true">Active</mat-option>
                        <mat-option [value]="false">Disabled</mat-option>
                    </mat-select>
                  </mat-form-field>



                  <button type="submit" mat-raised-button color="primary" >Save</button>

                </form>


                    <!-- <h4>To drive or not to drive?</h4>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rider" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="rider">Rider</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="driver" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="driver">Driver</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="off" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="off">Off</label>
                    </div> -->
                <!-- </div> -->
            <!-- </div> -->
