/* .content{
    text-align: center;
}
.form-control{
    margin:auto;
    width: 30%;
}
#search{
    margin-top:10px;
    background-color: #F26925;
    color:white;
    width:30%;
    font-family:"Overpass",sans-serif;
    font-weight:bold;
    font-size:22px;
    border-radius:27px;
    letter-spacing:1px;
    height:45px;
    display:inline-block;

}

#search:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
    border-radius: 22px ;
    font-family:"Overpass",sans-serif;
    font-size:23px;
}
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;

  }
#wrapper {
    width: 500px;
    border: 1px solid black;
    background-color:rgb(43, 15, 15)
}
#side1 {
    width: 400px;
    float:left;
    padding-left: 250px;
}
#side2 {
    background-color:white;
    padding-left: 300px;
} */
#gmap {
  height: 630px;
  width: 1030px;
  margin-top: 5px;
}

.col {
  margin-right: 3%;
  margin-top: 15px;
}

.btn-outline-secondary {
  font-size: 14px;
}

.table {
  margin-left: 5px;
  margin-top: 15px;
  width: 105%;
  margin-right: 5px;
  background-color: #5a5a5a;
  color: white;
  font-weight: 600;
}

.container {
  margin-left: 5px;
}

h4 {
  text-align: center;
  margin-left: 26px;
  margin-top: 10px;
  font-weight: bold;
}

.col-lg-5 {
  padding-right: 30px;
  padding-left: 0px;
  max-width: 45.666667% !important;
}

.table .thead-dark th {
  color: #fff;
  background-color: #222222;
  border-color: #5a5a5a;
}

.btn-light {
  color: #ffffff;
  background-color: #D4500D;
  border-color: #ffd09b;
  font-weight: 600;
}

.btn-light:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
  transform: translateY(-1px);
}
