#right-panel {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    padding-left: 10px;
    float: right;
    width: 48%;
  }
  #map {
    height: 100%;
    width: 50%;
  }
  #output {
    font-size: 11px;
  }
