#right-panel {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    padding-left: 10px;
    float: right;
    width: 48%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
    width: 50%;
  }

  #output {
    font-size: 11px;
  }
