@keyframes spinner {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .spinner div { box-sizing: border-box!important }
  .spinner > div {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 14px;
    left: 14px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #ffffff transparent #ffffff transparent;
    animation: spinner 1.25s linear infinite;
  }
  .spinner > div:nth-child(2) { border-color: transparent }
  .spinner > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .spinner > div:nth-child(2) div:before, .spinner > div:nth-child(2) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 24px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 64px 0 0 #ffffff;
  }
  .spinner > div:nth-child(2) div:after { 
    left: -8px;
    top: 24px;
    box-shadow: 64px 0 0 0 #ffffff;
  }
  .spinner-container {
    width: 28px;
    height: 28px;
    overflow: hidden;
    background: none;
  }
  .spinner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.28);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .spinner div { box-sizing: content-box; }
  
  