@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');
@import "custom-theme.scss";
* {
  font-family: 'Quicksand', sans-serif;
}
body { margin: 0;
 }


/*NO OUTLINE  BOOTSTRAP !!*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: $primary;
  box-shadow: 0 0px 1px $primary inset, 0 0 5px $primary;
  outline: 0 none;
}
/* all button rounded*/

button{
    border-radius: 20px !important;
}

.success{
  color: white;
  background-color: rgb(0, 82, 0) !important;
  width: 100%;
}

.failure{
  color: white;
  background-color: rgb(143, 1, 1) !important;
  width: 100%;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $primary !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: $primary !important;;
}